@font-face
  font-family: "Jost"
  src: url(../fonts/Jost-Regular.ttf)
  font-weight: normal
@font-face
  font-family: "Jost"
  src: url(../fonts/Jost-Bold.ttf)
  font-weight: Bold
@font-face
  font-family: "Jost"
  src: url(../fonts/Jost-SemiBold.ttf)
  font-weight: 600
*
  margin: 0
  padding: 0
.container
  width: 1440px
  margin: 0 auto
  padding: 0 40px
header
  position: relative
.navbar
  border-bottom: 8px solid #FFBD6F
  height: 66px
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  &__contact
    span
      padding: 6px 20px
      background: #FFBD6F
      text-decoration: none
      margin-right: 40px
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 23px
      color: #240000
      border-radius: 6px
      transition: background 0.3s
      &:hover
        cursor: pointer
        background: #f8a13a
  &__menu
    display: flex
    align-items: center
    margin-left: 40px
    &__logo
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 36px
      line-height: 52px
      color: #000000
    &__links
      margin-left: 95px
      a
        margin-right: 40px
        font-family: Jost, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 35px
        color: #8e4e33
        text-decoration: none
        transition: color 0.3s
        &:hover
          color: black
header
  .slick-dotted.slick-slider
    margin-bottom: 0
  .main-slide
    width: 100%
  .slick-dots
    display: flex
    flex-direction: column
    left: 35px
    top: calc(50% - 130px)
    width: auto
    height: auto
    li
      width: 28px
      height: 28px
      margin-bottom: 20px
      button
        width: 28px
        height: 28px
        &:before
          opacity: 0.7
          box-sizing: border-box
          width: 28px
          height: 28px
          background-color: transparent
          border: 3px solid #FFFFFF
          content: ''
          border-radius: 50px
          transition: opacity 0.2s
          &:hover
            opacity: 1
    li.slick-active
      button
        &:before
          background-color: white
          opacity: 1
  .main-slide
    margin-bottom: 0
    .slick-list
      .slick-track
        .slick-slide
          .slide--item
            width: 100%
  .slide--text
    position: absolute
    left: 115px
    top: calc(50% - 120px)
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 64px
    line-height: 74px
    color: #FFFFFF
    &__min
      position: absolute
      bottom: -48px
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 48px
      line-height: 42px
      color: #FFFFFF
  .arrow
    position: absolute
    bottom: 30px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    span
      padding: 20px
      cursor: pointer
      width: 68px
      height: 36px
      background: url("../img/scroll.svg") center center no-repeat
      transition: transform 0.3s
      &:hover
        transform: translateY(+15px)
.projects
  display: flex
  flex-direction: column
  align-items: center
  p
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 64px
    line-height: 92px
    color: #723D2F
    margin: 42px 0
  a
    margin: 53px 0
    padding: 18px 21px
    background: #FFBD6F
    border-radius: 7px
    text-decoration: none
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 28px
    text-align: center
    color: #240000
    transition: background 0.3s
    &:hover
      background: #f8a13a

.splide
  width: 100%
  height: 442px
  &__list
    .splide__slide
      filter: blur(6px)
      transition: filter 0.3s
      img
        height: 395px
        width: 615px
    li.is-active
      filter: none
      img
        height: 442px
        width: 693px
    li
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
.splide__arrow--next
  right: 320px
  width: 30px
  height: 54px
  background: url("../img/next.svg")
  svg
    display: none
.splide__arrow--prev
  width: 30px
  height: 54px
  background: url("../img/prev.svg")
  left: 320px
  svg
    display: none
.technology
  display: flex
  flex-direction: column
  align-items: center
  background: url("../img/technology.png")
  background-size: 100% 100%
  backdrop-filter: blur(12px)
  p
    margin-top: 55px
    margin-bottom: 52px
    font-family: Jost,sans-serif
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 69px
    color: #FFFFFF
  &__content
    display: flex
    flex-direction: row
    justify-content: center
    column-gap: 21px
    &__item
      cursor: pointer
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      background: #FFBD6F
      padding: 26px 21px 20px 21px
      border-radius: 6px
      transition: background 0.3s
      &:hover
        background: #f8a13a
      img
        width: 392px
        height: 252px
        margin-bottom: 12px
      p
        font-family: Jost, sans-serif
        font-style: normal
        font-weight: 600
        font-size: 34px
        line-height: 49px
        color: #240000
        margin: 0
  span
    text-decoration: none
    padding: 18px 30px
    background: #FFFFFF
    border-radius: 7px
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 28px
    text-align: center
    color: #240000
    margin-top: 92px
    margin-bottom: 71px
    transition: background 0.3s
    &:hover
      background: #d4d3d3
      cursor: pointer
.why
  display: flex
  flex-direction: column
  align-items: flex-start
  padding-left: 90px
  background: center right url("../img/why.png") no-repeat
  p
    margin: 83px 0 67px 0
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 55px
    line-height: 61px
    color: #723D2F
  &__content
    margin-bottom: 90px
    &__item
      margin-bottom: 44px
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 48px
      line-height: 44px
      color: #240000
      padding-left: 50px
      background: center left no-repeat url("../img/why_bg.svg")
.works
  background: #FFBD6F
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__header
    margin: 34px 0 50px 0
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 69px
    color: #000000
  &__content
    display: flex
    flex-direction: row
    justify-content: center
    column-gap: 53px
    margin-bottom: 100px
    &__item
      display: flex
      flex-direction: column
      align-items: center
      p
        font-family: Jost, sans-serif
        font-style: normal
        font-weight: 600
        font-size: 36px
        line-height: 33px
        text-align: center
        color: #000000
    &__item:nth-child(1)
      p
        margin-top: 37.2px
      img
        margin-top: 28px
        width: 101px
        height: 101px
    &__item:nth-child(2)
      p
        margin-top: 35.6px
      img
        margin-top: 5px
        width: 136px
        height: 126px
    &__item:nth-child(3)
      p
        margin-top: 35px
      img
        margin-top: 13px
        width: 92px
        height: 119px
    &__item:nth-child(4)
      p
        margin-top: 39px
      img
        width: 126px
        height: 128px
    &__item:nth-child(5)
      p
        margin-top: 44px
      img
        margin-top: 2px
        width: 87px
        height: 121px
.response
  display: flex
  flex-direction: column
  align-items: center
  p
    margin: 26px 0 38px 0
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 64px
    line-height: 92px
    color: #723D2F
  div
    background: #FFBD6F
    border-radius: 7px
    padding: 12px
  span
    background: #FFBD6F
    border-radius: 7px
    margin: 73px 0 110px 0
    padding: 27px 35px
    text-decoration: none
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 40px
    line-height: 47px
    color: #240000
    transition: background 0.3s
    &:hover
      background: #f8a13a
      cursor: pointer
footer
  height: 164px
  background: #8E4E33
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 32px 50px
  box-sizing: border-box
  .left
    p:nth-child(1)
      margin-bottom: 14px
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 24px
      line-height: 22px
      color: #FFFFFF
    p:nth-child(2)
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 18px
      line-height: 16px
      color: #FFFFFF
  .right
    display: flex
    flex-direction: column
    align-items: flex-end
    row-gap: 13px
    p
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 24px
      line-height: 22px
      color: #FFFFFF
    a
      text-decoration: none
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 24px
      line-height: 22px
      color: #FFFFFF
      transition: color 0.3s
      &:hover
        color: #cacaca
  .center
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    column-gap: 20px
.tingle-modal
  .tingle-modal-box
    &__content
      background: #FFBD6F
      .modal
        .modal__form
          display: flex
          flex-direction: column
          align-items: center
          row-gap: 20px
          width: 100%
          div
            display: flex
            flex-direction: column
            align-items: center
            input
              border: none
              background-color: transparent
              border-bottom: 3px solid #f8a13a
              padding: 10px 20px
              width: 300px
              font-family: Jost, sans-serif
              font-style: normal
              font-weight: 600
              font-size: 16px
              line-height: 20px
              color: #240000
          button
            background: #FFBD6F
            border: 3px solid #f8a13a
            padding: 10px 20px
            margin-top: 20px
            border-radius: 7px
            width: 300px
            font-family: Jost, sans-serif
            font-style: normal
            font-weight: 600
            font-size: 24px
            line-height: 22px
            color: #240000
            transition: background 0.3s
            &:hover
              background: #f8a13a
input::-webkit-input-placeholder
  font-family: Jost, sans-serif
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  color: #515050

.top
  display: flex
  flex-direction: column
  &__header
    margin-top: 30px
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 64px
    line-height: 92px
    color: #723D2F
  &__content
    margin-top: 37px
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    row-gap: 37px
    column-gap: 45px
    margin-bottom: 37px
    div
      border: 5px solid #FFBD6F
      box-sizing: content-box
      img
        width: 100%
        height: 100%
  &__footer
    p
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 36px
      line-height: 40px
      color: #240000
    span
      font-family: Jost, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 40px
      color: #240000
.plan
  margin-top: 60px
  &__header
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 69px
    color: #723D2F
  &__content
    margin-top: 37px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    column-gap: 45px
    row-gap: 37px
.description
  border-left: 16px solid #FFBD6F
  padding-left: 20px
  margin: 72px 0 30px 0
  p
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 27px
    color: #240000
.footer
  margin-top: 82px
  margin-bottom: 82px
  display: flex
  flex-direction: column
  align-items: center
  p:nth-child(1)
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 64px
    line-height: 92px
    color: #723D2F
    margin-bottom: 15px
  p:nth-child(2)
    margin-bottom: 52px
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 36px
    line-height: 40px
    color: #240000
  span
    background: #FFBD6F
    padding: 27px 45px
    border-radius: 7px
    font-family: Jost, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 40px
    line-height: 47px
    color: #240000
    transition: background 0.3s
    &:hover
      cursor: pointer
      background: #f8a13a

@media (max-width: 1439px)
  body
    display: none






















