@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Bold.ttf);
  font-weight: Bold;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-SemiBold.ttf);
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  position: relative;
}

.navbar--mobile {
  display: none;
}

.navbar {
  border-bottom: 8px solid #FFBD6F;
  height: 66px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar__contact span {
  padding: 6px 20px;
  background: #FFBD6F;
  text-decoration: none;
  margin-right: 40px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #240000;
  border-radius: 6px;
  transition: background 0.3s;
}
.navbar__contact span:hover {
  cursor: pointer;
  background: #f8a13a;
}
.navbar__menu {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.navbar__menu__logo {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  color: #000000;
}
.navbar__menu__links {
  margin-left: 95px;
}
.navbar__menu__links a {
  margin-right: 40px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #8e4e33;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar__menu__links a:hover {
  color: black;
}

header .slick-dotted.slick-slider {
  margin-bottom: 0;
}
header .main-slide {
  width: 100%;
}
header .slick-dots {
  display: flex;
  flex-direction: column;
  left: 35px;
  top: calc(50% - 130px);
  width: auto;
  height: auto;
}
header .slick-dots li {
  width: 28px;
  height: 28px;
  margin-bottom: 20px;
}
header .slick-dots li button {
  width: 28px;
  height: 28px;
}
header .slick-dots li button:before {
  opacity: 0.7;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  content: "";
  border-radius: 50px;
  transition: opacity 0.2s;
}
header .slick-dots li button:before:hover {
  opacity: 1;
}
header .slick-dots li.slick-active button:before {
  background-color: white;
  opacity: 1;
}
header .main-slide {
  margin-bottom: 0;
}
header .main-slide .slick-list .slick-track .slick-slide .slide--item {
  width: 100%;
}
header .slide--text {
  position: absolute;
  left: 115px;
  top: calc(50% - 120px);
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #FFFFFF;
  z-index: 1;
}
header .slide--text__min {
  position: absolute;
  bottom: -48px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 42px;
  color: #FFFFFF;
}
header .arrow {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .arrow span {
  padding: 20px;
  cursor: pointer;
  width: 68px;
  height: 36px;
  background: url("../img/scroll.svg") center center no-repeat;
  transition: transform 0.3s;
}
header .arrow span:hover {
  transform: translateY(15px);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects p {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 92px;
  color: #723D2F;
  margin: 42px 0;
}
.projects a {
  margin: 53px 0;
  padding: 18px 21px;
  background: #FFBD6F;
  border-radius: 7px;
  text-decoration: none;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #240000;
  transition: background 0.3s;
}
.projects a:hover {
  background: #f8a13a;
}

.splide {
  width: 100%;
  height: 442px;
}
.splide__list .splide__slide {
  filter: blur(6px);
  transition: filter 0.3s;
}
.splide__list .splide__slide img {
  height: 395px;
  width: 615px;
}
.splide__list li.is-active {
  filter: none;
}
.splide__list li.is-active img {
  height: 442px;
  width: 693px;
}
.splide__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splide__arrow--next {
  right: 320px;
  width: 30px;
  height: 54px;
  background: url("../img/next.svg");
}
.splide__arrow--next svg {
  display: none;
}

.splide__arrow--prev {
  width: 30px;
  height: 54px;
  background: url("../img/prev.svg");
  left: 320px;
}
.splide__arrow--prev svg {
  display: none;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/technology.png");
  background-size: 100% 100%;
  backdrop-filter: blur(12px);
}
.technology p {
  margin-top: 55px;
  margin-bottom: 52px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 69px;
  color: #FFFFFF;
}
.technology__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.technology__content__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFBD6F;
  padding: 26px 21px 20px 21px;
  border-radius: 6px;
  transition: background 0.3s;
  margin-right: 21px;
}
.technology__content__item:hover {
  background: #f8a13a;
}
.technology__content__item img {
  width: 392px;
  height: 252px;
  margin-bottom: 12px;
}
.technology__content__item p {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 49px;
  color: #240000;
  margin: 0;
}
.technology__content__item:nth-child(3) {
  margin-right: 0;
}
.technology span {
  text-decoration: none;
  padding: 18px 30px;
  background: #FFFFFF;
  border-radius: 7px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #240000;
  margin-top: 92px;
  margin-bottom: 71px;
  transition: background 0.3s;
}
.technology span:hover {
  background: #d4d3d3;
  cursor: pointer;
}

.why {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 90px;
  background: center right url("../img/why.png") no-repeat;
}
.why p {
  margin: 83px 0 67px 0;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 61px;
  color: #723D2F;
}
.why__content {
  margin-bottom: 90px;
}
.why__content__item {
  margin-bottom: 44px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 44px;
  color: #240000;
  padding-left: 50px;
  background: center left no-repeat url("../img/why_bg.svg");
}

.works {
  background: #FFBD6F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works__header {
  margin: 34px 0 50px 0;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 69px;
  color: #000000;
}
.works__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
.works__content__item {
  margin-right: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works__content__item p {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
.works__content__item:nth-last-child(1) {
  margin-right: 0;
}
.works__content__item:nth-child(1) p {
  margin-top: 37.2px;
}
.works__content__item:nth-child(1) img {
  margin-top: 28px;
  width: 101px;
  height: 101px;
}
.works__content__item:nth-child(2) p {
  margin-top: 35.6px;
}
.works__content__item:nth-child(2) img {
  margin-top: 5px;
  width: 136px;
  height: 126px;
}
.works__content__item:nth-child(3) p {
  margin-top: 35px;
}
.works__content__item:nth-child(3) img {
  margin-top: 13px;
  width: 92px;
  height: 119px;
}
.works__content__item:nth-child(4) p {
  margin-top: 39px;
}
.works__content__item:nth-child(4) img {
  width: 126px;
  height: 128px;
}
.works__content__item:nth-child(5) p {
  margin-top: 44px;
}
.works__content__item:nth-child(5) img {
  margin-top: 2px;
  width: 87px;
  height: 121px;
}

.response {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.response p {
  margin: 26px 0 38px 0;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 92px;
  color: #723D2F;
}
.response div {
  background: #FFBD6F;
  border-radius: 7px;
  padding: 12px;
}
.response span {
  background: #FFBD6F;
  border-radius: 7px;
  margin: 73px 0 110px 0;
  padding: 27px 35px;
  text-decoration: none;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #240000;
  transition: background 0.3s;
}
.response span:hover {
  background: #f8a13a;
  cursor: pointer;
}

footer {
  height: 164px;
  background: #8E4E33;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 50px;
  box-sizing: border-box;
}
footer .left p:nth-child(1) {
  margin-bottom: 14px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
}
footer .left p:nth-child(2) {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
}
footer .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .right * {
  margin-bottom: 13px;
}
footer .right a:nth-child(3) {
  margin-bottom: 0;
}
footer .right p {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
}
footer .right a {
  text-decoration: none;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
  transition: color 0.3s;
}
footer .right a:hover {
  color: #cacaca;
}
footer .center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .center a {
  margin-right: 20px;
}
footer .center a:nth-last-child(1) {
  margin-right: 0;
}

.tingle-modal .tingle-modal-box {
  background: rgba(0, 0, 0, 0);
}
.tingle-modal .tingle-modal-box__content {
  border: 10px solid #FFBD6F;
  border-radius: 30px;
  background: #FFF;
}
.tingle-modal .tingle-modal-box__content .modal .modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tingle-modal .tingle-modal-box__content .modal .modal__form div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tingle-modal .tingle-modal-box__content .modal .modal__form div input {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #f8a13a;
  padding: 10px 20px;
  width: 300px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #240000;
}
.tingle-modal .tingle-modal-box__content .modal .modal__form button {
  background: #FFBD6F;
  border: 3px solid #f8a13a;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px;
  width: 300px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #240000;
  transition: background 0.3s;
}
.tingle-modal .tingle-modal-box__content .modal .modal__form button:hover {
  cursor: pointer;
  background: #f8a13a;
}

input::-webkit-input-placeholder {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #515050;
}

.top {
  display: flex;
  flex-direction: column;
}
.top__header {
  margin-top: 30px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 92px;
  color: #723D2F;
}
.top__content {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 37px;
}
.top__content div {
  margin-bottom: 37px;
  margin-right: 45px;
  border: 5px solid #FFBD6F;
  box-sizing: content-box;
}
.top__content div img {
  width: 100%;
  height: 100%;
}
.top__footer p {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #240000;
}
.top__footer span {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #240000;
}

.plan {
  margin-top: 60px;
}
.plan__header {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 69px;
  color: #723D2F;
}
.plan__content {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.plan__content div {
  margin-bottom: 37px;
  margin-right: 45px;
}

.description {
  border-left: 16px solid #FFBD6F;
  padding-left: 20px;
  margin: 72px 0 30px 0;
}
.description p {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #240000;
}

.footer {
  margin-top: 82px;
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer p:nth-child(1) {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 92px;
  color: #723D2F;
  margin-bottom: 15px;
}
.footer p:nth-child(2) {
  margin-bottom: 52px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #240000;
}
.footer span {
  background: #FFBD6F;
  padding: 27px 45px;
  border-radius: 7px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #240000;
  transition: background 0.3s;
}
.footer span:hover {
  cursor: pointer;
  background: #f8a13a;
}

@media (max-width: 1400px) {
  .navbar {
    z-index: 2;
  }
  .navbar__menu {
    margin-left: 3%;
  }
  .navbar__menu__links {
    display: none;
  }
  .navbar__contact {
    display: none;
  }
  .navbar__burger {
    position: relative;
    width: 25px;
    height: 20px;
    margin-right: 25px;
  }
  .navbar__burger span {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #000000;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .navbar__burger span:nth-child(1) {
    top: 0;
  }
  .navbar__burger span:nth-child(2) {
    top: 10px;
  }
  .navbar__burger span:nth-child(3) {
    top: 20px;
  }
  .navbar__mobile {
    background-color: #FFBD6F;
  }

  .navbar--mobile {
    padding: 0 50px 10px 50px;
    background-color: #FFBD6F;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    height: 0;
    transition: height 0.6s;
  }
  .navbar--mobile a {
    font-family: Jost, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    text-align: right;
    color: #8E4E33;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.6s;
  }

  .navbar--mobile--active {
    height: 322px;
  }
  .navbar--mobile--active a {
    opacity: 1;
  }

  .navbar__burger--active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }
  .navbar__burger--active span:nth-child(2) {
    opacity: 0;
  }
  .navbar__burger--active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
  }

  #scroll {
    display: none;
  }

  .main-slide {
    height: 462px;
  }

  header .main-slide {
    margin-bottom: 0;
  }
  header .main-slide .slick-list .slick-track .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .main-slide .slick-list .slick-track .slick-slide .slide--item {
    height: 462px;
    width: auto;
  }

  header .slick-dots {
    left: 10px;
  }

  header .slick-dots {
    top: calc(50% - 120px);
  }

  header .slide--text {
    top: calc(50% - 70px);
    left: 55px;
    font-size: 36px;
    line-height: 42px;
  }
  header .slide--text__min {
    font-size: 24px;
    line-height: 28px;
    bottom: -30px;
  }

  header .slick-dots li button {
    height: 25px;
    width: 25px;
  }

  .projects p {
    font-size: 36px;
    line-height: 52px;
    margin: 10px 0;
  }
  .projects a {
    margin: 20px 0;
    width: 250px;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .splide {
    height: 237px;
  }
  .splide__list .splide__slide {
    width: 334px;
    height: 237px;
  }
  .splide__list .splide__slide img {
    width: 334px;
    height: 237px;
  }
  .splide__list li.is-active img {
    width: 334px;
    height: 237px;
  }

  .splide__arrow--next {
    right: 1.3%;
  }

  .splide__arrow--prev {
    left: 1.3%;
  }

  .technology {
    background-size: 1400px 882px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .technology p {
    font-size: 24px;
    line-height: 35px;
    margin: 34px 0 10px 0;
  }
  .technology__content {
    flex-direction: column;
    align-items: center;
  }
  .technology__content__item {
    width: 336px;
    height: 222px;
    margin-right: 0;
    box-sizing: border-box;
    padding: 18px 22px 10px;
    margin-bottom: 12px;
  }
  .technology__content__item img {
    width: 293px;
    height: 162px;
    margin-bottom: 0;
  }
  .technology__content__item p {
    font-size: 24px;
    line-height: 35px;
    margin: 0;
  }
  .technology__content__item:nth-last-child(1) {
    margin-bottom: 0;
  }
  .technology span {
    margin: 20px 0;
  }

  .why {
    padding-left: 20px;
    background: bottom right url("../img/WhyMobile.png") no-repeat;
  }
  .why p {
    font-size: 36px;
    line-height: 40px;
    margin: 20px 0;
  }
  .why__content {
    margin-bottom: 70px;
  }
  .why__content__item {
    font-size: 30px;
    line-height: 27px;
    padding-left: 30px;
    margin-bottom: 30px;
  }

  .works {
    margin-top: 36px;
  }
  .works__header {
    font-size: 36px;
    line-height: 52px;
    margin: 20px 0;
  }
  .works__content {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .works__content__item {
    margin-bottom: 25px;
    flex-direction: row;
    margin-left: 20px;
  }
  .works__content__item:nth-child(1) img {
    margin-top: 0;
    width: 75px;
    height: 75px;
  }
  .works__content__item:nth-child(1) p {
    margin-top: 0;
    margin-left: 38px;
    font-size: 30px;
    line-height: 27px;
  }
  .works__content__item:nth-child(2) img {
    margin-top: 0;
    width: 70px;
    height: 76px;
  }
  .works__content__item:nth-child(2) p {
    margin-top: 0;
    margin-left: 43px;
    font-size: 30px;
    line-height: 27px;
  }
  .works__content__item:nth-child(3) img {
    margin-top: 0;
    width: 64px;
    height: 76px;
  }
  .works__content__item:nth-child(3) p {
    margin-top: 0;
    margin-left: 49px;
    font-size: 30px;
    line-height: 27px;
    text-align: left;
  }
  .works__content__item:nth-child(4) img {
    margin-top: 0;
    width: 72px;
    height: 76px;
  }
  .works__content__item:nth-child(4) p {
    margin-top: 0;
    margin-left: 41px;
    font-size: 30px;
    line-height: 27px;
  }
  .works__content__item:nth-child(5) img {
    margin-top: 0;
    width: 76px;
    height: 76px;
  }
  .works__content__item:nth-child(5) p {
    margin-top: 0;
    margin-left: 38px;
    font-size: 30px;
    line-height: 27px;
  }

  .response p {
    font-size: 36px;
    line-height: 52px;
    margin: 20px 0;
  }
  .response span {
    font-size: 24px;
    line-height: 28px;
    padding: 11px 17px;
    margin: 35px 0;
  }
  .response div {
    width: 402px;
    height: 291px;
    padding: 7px 7px;
    box-sizing: border-box;
  }
  .response div img {
    width: 387px;
    height: 278px;
  }

  .contact-us {
    flex-direction: column;
    height: auto;
  }
  .contact-us .left * {
    text-align: center;
  }
  .contact-us .left p:nth-child(2) {
    font-size: 16px;
    line-height: 18px;
  }
  .contact-us .center {
    margin: 20px 0;
  }
  .contact-us .center a img {
    width: 50px;
    height: 50px;
  }
  .contact-us .right {
    align-items: center;
  }
  .contact-us .right * {
    font-size: 20px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=main.css.map */
